/* CSS declarations go here */

/* AECES LOGO */
#logo-container-left {
  display: inline-block;
  position: relative;
  text-align: center;
}

#logo-container-right {
  padding: 0px 50px 0px 50px;
  display: inline-block;
  position: relative;
  text-align: center;
}

#logo-container-left::before, #logo-container-left::after {
  left: 0;
  top: 0;
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

#logo-container-right::before, #logo-container-right::after {
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
}


#logo-container-left::after{
  border-width: 1.35em;
  border-left-color: #FFC800;
  border-top-color: #FFC800;
}

#logo-container-right::after {
  border-width: 1.35em;
  border-right-color: #FFC800;
  border-bottom-color: #FFC800;
}

#logo {
  font-family: 'Cormorant Garamond', serif;
  font-size: 5em;
}

/* FOOTER */
#footer-container {
  min-height: 275px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: #424242;
  color: white;
  font-family: 'Roboto', sans-serif;
}
#footer-end {
  min-height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: #212121;
  color: white;
  display: flex;
  align-items: center;
}
#footer-end-content {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  width: 100%;
}
#footer-media-list {
  list-style: none;
}
.footer-media-list-item {
  color: white;
  font-family: 'Roboto', sans-serif;
}
.footer-accounts-header {
  font-family: 'Roboto Mono', monospace;
}
#footer {
  display: block;
}
#linkedin-link:hover {
  color: #FFEB3B;
  background-color: #3F51B5;
}
#linkedin-link {
  color: #212121;
  background-color: #FFEB3B;
  text-decoration: none;
}